services:
 api:
   build: .
   ports:
    - "5000:5000"
   env_file:
     - .env
   depends_on:
    - db
 db:
  image: postgres:15
  environment:
    POSTGRES_USER: health
    POSTGRES_PASSWORD: health
    POSTGRES_DB: healthdb
  volumes:
   - pgdata:/var/lib/postgresql/data
 
volumes:
 pgdata:
